{% extends 'base.html.twig' %}

{% block body %}


	<div class="grid mb-4 pb-10 pt-3   lg:px-8 lg:mx-4 mx-2 rounded-sm bg-black min-h-screen">


		<div class="  transition-colors duration-300 ">
			<div class="container mx-auto p-4">
				<h1 class="text-xl font-semibold text-white m-0 ">Projects Information</h1>
				<hr class="w-[10%] mb-10 mt-2">
				<div class=" mb-3 c_scale whiteShadow rounded-lg p-6 border border-[#2DD4BF] border-2 p-2 rounded-md">
					<div class="   grid grid-cols-1 md:grid-cols-3 gap-4 ">
						<div class="flex gap-2 ">
							<div class="pt-3  md:py-0 rounded w-[60px] overflow-hidden flex items-center  bg-center bg-cover  bg-no-repeat bg-gray-300" style="background-image:url(https://i.pinimg.com/originals/0b/2d/44/0b2d4498a4228e885f52ea1b2c001923.gif)"></div>
							<input type="text" placeholder="name" class="border focus:border-[#2DD4BF] px-2 py-2 md:py-0 rounded w-full">
						</div>
						<input type="text" placeholder="link" class="border focus:border-[#2DD4BF] px-2 py-2 md:py-0  rounded w-full">
						<div class="flex  items-center justify-between">
							<div class="p-0 rounded w-[60px]   overflow-hidden flex items-center">
								<label for="fileInput" class="w-full  rounded-md  cursor-pointer text-white inline-block">

									<img src="https://th.bing.com/th/id/OIP.7ys--RDJddWtloAL-uNQxAHaHa?rs=1&pid=ImgDetMain" class="w-[40px] rounded-lg" alt="">
									<input type="file" id="fileInput" class="hidden">
								</label>
							</div>
							<div class="px-6  whitespace-no-wrap text-sm leading-5">
								<div class="flex space-x-4">
									<a href="#" class="text-blue-500 hover:text-white 00">
										<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-1" fill="none" viewbox="0 0 24 24" stroke="currentColor">
											<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"/>
										</svg>
										<p>Edit</p>
									</a>
									<a href="#" class="text-red-500 hover:text-white 00">
										<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-1 ml-3" fill="none" viewbox="0 0 24 24" stroke="currentColor">
											<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
										</svg>
										<p>Delete</p>
									</a>
								</div>
							</div>
						</div>

					</div>
					<div class="w-full">
					<textarea name="" id="" placeholder="discreption" class="border focus:border-[#2DD4BF] px-2 py-2 md:py-0  rounded w-full mt-2"></textarea>
					</div>
				</div>
				<div class=" mb-3 c_scale whiteShadow rounded-lg p-6 border border-[#2DD4BF] border-2 p-2 rounded-md">
					<div class="   grid grid-cols-1 md:grid-cols-3 gap-4 ">
						<div class="flex gap-2 ">
							<div class="pt-3  md:py-0 rounded w-[60px] overflow-hidden flex items-center  bg-center bg-cover  bg-no-repeat bg-gray-300" style="background-image:url(https://i.pinimg.com/originals/0b/2d/44/0b2d4498a4228e885f52ea1b2c001923.gif)"></div>
							<input type="text" placeholder="name" class="border focus:border-[#2DD4BF] px-2 py-2 md:py-0 rounded w-full">
						</div>
						<input type="text" placeholder="link" class="border focus:border-[#2DD4BF] px-2 py-2 md:py-0  rounded w-full">
						<div class="flex  items-center justify-between">
							<div class="p-0 rounded w-[60px]   overflow-hidden flex items-center">
								<label for="fileInput" class="w-full  rounded-md  cursor-pointer text-white inline-block">

									<img src="https://th.bing.com/th/id/OIP.7ys--RDJddWtloAL-uNQxAHaHa?rs=1&pid=ImgDetMain" class="w-[40px] rounded-lg" alt="">
									<input type="file" id="fileInput" class="hidden">
								</label>
							</div>
							<div class="px-6  whitespace-no-wrap text-sm leading-5">
								<div class="flex space-x-4">
									<a href="#" class="text-blue-500 hover:text-white 00">
										<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-1" fill="none" viewbox="0 0 24 24" stroke="currentColor">
											<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"/>
										</svg>
										<p>Edit</p>
									</a>
									<a href="#" class="text-red-500 hover:text-white 00">
										<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-1 ml-3" fill="none" viewbox="0 0 24 24" stroke="currentColor">
											<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
										</svg>
										<p>Delete</p>
									</a>
								</div>
							</div>
						</div>

					</div>
					<div class="w-full">
					<textarea name="" id="" placeholder="discreption" class="border focus:border-[#2DD4BF] px-2 py-2 md:py-0  rounded w-full mt-2"></textarea>
					</div>
				</div>
				<div class=" mb-3 c_scale whiteShadow rounded-lg p-6 border border-[#2DD4BF] border-2 p-2 rounded-md">
					<div class="   grid grid-cols-1 md:grid-cols-3 gap-4 ">
						<div class="flex gap-2 ">
							<div class="pt-3  md:py-0 rounded w-[60px] overflow-hidden flex items-center  bg-center bg-cover  bg-no-repeat bg-gray-300" style="background-image:url(https://i.pinimg.com/originals/0b/2d/44/0b2d4498a4228e885f52ea1b2c001923.gif)"></div>
							<input type="text" placeholder="name" class="border focus:border-[#2DD4BF] px-2 py-2 md:py-0 rounded w-full">
						</div>
						<input type="text" placeholder="link" class="border focus:border-[#2DD4BF] px-2 py-2 md:py-0  rounded w-full">
						<div class="flex  items-center justify-between">
							<div class="p-0 rounded w-[60px]   overflow-hidden flex items-center">
								<label for="fileInput" class="w-full  rounded-md  cursor-pointer text-white inline-block">

									<img src="https://th.bing.com/th/id/OIP.7ys--RDJddWtloAL-uNQxAHaHa?rs=1&pid=ImgDetMain" class="w-[40px] rounded-lg" alt="">
									<input type="file" id="fileInput" class="hidden">
								</label>
							</div>
							<div class="px-6  whitespace-no-wrap text-sm leading-5">
								<div class="flex space-x-4">
									<a href="#" class="text-blue-500 hover:text-white 00">
										<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-1" fill="none" viewbox="0 0 24 24" stroke="currentColor">
											<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"/>
										</svg>
										<p>Edit</p>
									</a>
									<a href="#" class="text-red-500 hover:text-white 00">
										<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-1 ml-3" fill="none" viewbox="0 0 24 24" stroke="currentColor">
											<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
										</svg>
										<p>Delete</p>
									</a>
								</div>
							</div>
						</div>

					</div>
					<div class="w-full">
					<textarea name="" id="" placeholder="discreption" class="border focus:border-[#2DD4BF] px-2 py-2 md:py-0  rounded w-full mt-2"></textarea>
					</div>
				</div>
			</div>


		</div>

	</div>


{% endblock %}
