{% extends 'base.html.twig' %}

{% block body %}


	<div class="grid mb-4 pb-10 pt-3   lg:px-8 lg:mx-4 mx-2 rounded-sm bg-black min-h-screen">


		<div class="  transition-colors duration-300 ">
			<div class="container mx-auto p-4">
				<h1 class="text-xl font-semibold text-white m-0 ">Media Information</h1>
				<hr class="w-[10%] mb-10 mt-2">
				<div class=" mb-3 whiteShadow rounded-lg p-6">


					<div class="flex flex-col gap-2 w-60 sm:w-72  sm:text-sm z-50">
						<div class="cursor-default flex items-center justify-between w-full h-12 sm:h-14 rounded-lg bg-[#232531] px-[10px]">
							<div class="flex gap-2 items-center">
								<div class="text-[#2b9875] bg-white/5 backdrop-blur-xl  rounded-lg max-h-full">
									<img src="https://th.bing.com/th/id/OIP.yYE8IZzD-pn1vbi-Q4Wo-QHaGI?rs=1&pid=ImgDetMain" class="object-contain rounded-lg w-10 h-10" alt="">
								</div>

								<h2 class="text-gray-100">Skill Name</h2>

							</div>
							<button class="text-gray-600 hover:bg-white/5 p-1 rounded-md transition-colors ease-linear">
								<img src="{{ asset('images/svg/edit.svg') }}" class="h-4 w-4 " alt="">
							</button>
						</div>
					</div>


				</div>
			</div>


		</div>

	</div>


{% endblock %}
