body {
    background-color: black !important;
}

.select2  {
    width: 100% !important;
   
}

.select2-selection {
    border: 1px solid rgb(55, 65, 81) !important;
    border-radius: 4px !important;
    padding: 10px !important;
    background-color: rgb(55, 65, 81) !important;
    color: #686868 !important;
    font-size: 1rem !important;
    cursor: pointer !important;
}


.dataTables_filter {
    /* margin: 10px !important; */
    margin-bottom: 30px !important;


}

.dataTables_filter input {
    outline: none !important;
    background-color: #fff !important;
    border: 1px solid #a8a8a8 !important;
    padding: 5px 15px !important;
    font-size: 1rem !important;
    width: 13em !important;
    border-radius: 1rem !important;
    color: #686868 !important;

    cursor: pointer !important;
}

.dataTables_filter input:focus {
    border: 1px solid #2DD4BF !important;

}

.dataTables_paginate {
    margin: 30px !important;
}

.dataTables_paginate .paginate_button {
    border: none !important;
    cursor: pointer !important;
    padding: 2px 4px !important;
    margin-left: 10px !important;
    font-size: small !important;


}

#projects_paginate span .current {
    border: 1px solid #2DD4BF !important;
    background-color: #2DD4BF !important;
    background: #2DD4BF !important;
    padding: 0 !important;
    color: white !important;
    cursor: pointer !important;

    /* cursor: pointer !important; */

}

.dataTables_paginate .paginate_button:hover {

    background-color: #2DD4BF !important;
    color: white !important;

}

#projects_previous:hover,
#projects_next:hover {
    background-color: #2DD4BF !important;
    color: white !important;

}

#projects_info {
    display: none !important;
}

.whiteShadow {
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.2)
}

.c_scale {
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    /* Added transform to the transition */
}

.c_scale:hover {
    box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
    /* Slight scale increase on hover */
}

.select-multiple {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    background-color: #f9f9f9;
}

.select-multiple option {
    padding: 5px;
}

.project_card {
    width: 100%;
    height: fit-content;
    padding: 20px;
    color: white;
    background: linear-gradient(#212121, #212121) padding-box,
      linear-gradient(145deg, transparent 35%, #0a89a8, #252e31) border-box;
    border: 2px solid transparent;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transform-origin: top bottom;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .project_card .main-content {
    flex: 1;
  }
  
  .project_card .header span:first-child {
    font-weight: 600;
    color: #717171;
    margin-right: 4px;
  }
  
  .project_card .heading {
    font-size: 24px;
    margin: 24px 0 16px;
    font-weight: 600;
  }
  
 
  
  .project_card .categories span {
    background-color: #0a89a8;
    padding: 4px 8px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 50em;
  }
  

aside::-webkit-scrollbar {
    width: 3px; 
}

/* The scrollbar track */
aside::-webkit-scrollbar-track {
    background: #000; 
}


aside::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px; 
}

/* Optional: Handle hover effect */
aside::-webkit-scrollbar-thumb:hover {
    background: #555; 
    cursor:all-scroll;
    
}
.inputs {
    outline: none !important;

    box-shadow: none !important;
    
}

.inputs:focus {
    outline: none !important;

    box-shadow: none !important;

}