body {
    background-color: skyred;
}

#projects {
/* margin-top: 30px !important; */
}
.dataTables_filter {
    /* margin: 10px !important; */
    margin-bottom: 30px !important;
    

}
.dataTables_filter input {
    outline: none !important;
    background-color: #fff !important;
    border: 1px solid #a8a8a8 !important;
    padding: 5px 15px !important;
    font-size: 1rem !important;
    width: 13em !important;
    border-radius: 1rem !important;
    color: #686868 !important;
   
    cursor: pointer !important;
}
.dataTables_filter input:focus {
    border: 1px solid #2DD4BF !important;
    
  }
.dataTables_paginate {
    margin: 30px  !important;
}
.dataTables_paginate  .paginate_button  {
    border: none !important;
  cursor: pointer !important;
  padding: 2px 4px !important;
  margin-left: 10px !important;
  font-size: small !important;

    
}

#projects_paginate span  .current  {
    border: 1px solid #2DD4BF !important;
    background-color: #2DD4BF !important;
    background: #2DD4BF !important;
   padding: 0 !important;
    color: white !important;
    cursor: pointer !important;
    
  /* cursor: pointer !important; */
    
}
.dataTables_paginate .paginate_button:hover {
   
    background-color: #2DD4BF !important;
    color: white !important;

}
#projects_previous:hover, #projects_next:hover {
    background-color: #2DD4BF !important;
    color: white !important;
  
}
#projects_info {
    display: none !important;
}