<!DOCTYPE html>
<html x-data="data()" lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sign in bro </title>

    <link rel="stylesheet" href="{{ asset('styles/auth.css') }}">

</head>
<body>

    <div id="video-container">
        <canvas id="canvas"></canvas>
      <!-- <p class="correct_password">hello</p> --> 
    </div>

    <canvas id="c"></canvas>


    <div class="info whiteShadow" >
    
    <div></div>
        <form  action="" method="post">
            <div class="input-container">
                <p class="bash-text">
                    <span class="user">user@</span><span class="vm">password</span>:<span class="char">~</span>$
                </p>
                <input class="input" id="passwordInput" placeholder="sudo rm -rf pass word/" name="password" type="text">
            </div>
        </form>
    </div>

</body>
<!-- scripts -->
 <script src="{{ asset('js/shark.js') }}?v=5.1"></script>
 <script src="{{ asset('js/fishs.js') }}?v=1.1"></script>
</html>
